<section class="section profile">
  <div>
    <button class="btn-add-new-club" (click)="onReturnClick()">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            [src]="clubImage || '/club.avif'"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>{{ club.name }}</h2>
          <p class="small fst-italic">{{ club.description }}</p>
          <div class="social-links mt-2">
            <a [href]="club.facebook" class="facebook"
              ><i class="bi bi-facebook"></i
            ></a>
            <a [href]="club.instagram" class="instagram"
              ><i class="bi bi-instagram"></i
            ></a>
            <a [href]="club.linkedin" class="linkedin"
              ><i class="bi bi-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
                *ngIf="userRole === 'admin'"
              >
                Edit Profile
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Member
              </button>
            </li>
          </ul>

          <div class="tab-content pt-2">
            <div class="tab-pane fade show active" id="profile-overview">
              <h5 class="card-title">About</h5>
              <p class="small fst-italic">{{ club.description }}</p>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Creation Date</div>
                <div class="col-lg-9 col-md-8">
                  {{ club.createdAt | date : "d MMMM y" }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone</div>
                <div class="col-lg-9 col-md-8">{{ club.userId?.phone }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{ club.userId?.email }}</div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="profile-edit"
              *ngIf="userRole === 'admin'"
            >
              <!-- Profile Edit Form -->
              <form [formGroup]="clubForm" (ngSubmit)="onSaveChanges()">
                <div class="row mb-3">
                  <div class="col-md-8 col-lg-9">
                    <label
                      for="profileImage"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Profile Image</label
                    >
                    <img
                      [src]="clubImage || '/club.avif'"
                      alt="Profile"
                      style="max-width: 120px"
                    />
                    <div class="pt-2">
                      <input
                        type="file"
                        id="profileImage"
                        (change)="onFileSelected($event)"
                        style="display: none"
                      />
                      <label
                        for="profileImage"
                        class="btn btn-primary btn-sm"
                        title="Upload new profile image"
                      >
                        <i class="fas fa-upload"></i>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Name</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="fullName"
                      type="text"
                      class="form-control"
                      id="fullName"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label"
                    >Domaine</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <textarea
                      formControlName="domaine"
                      class="form-control"
                      id="about"
                      style="height: 100px"
                    ></textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                    >Phone</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="phone"
                      type="text"
                      class="form-control"
                      id="Phone"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label"
                    >Email</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control"
                      id="Email"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Facebook" class="col-md-4 col-lg-3 col-form-label"
                    >Facebook Profile</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="facebook"
                      type="text"
                      class="form-control"
                      id="Facebook"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="Instagram"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Instagram Profile</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="instagram"
                      type="text"
                      class="form-control"
                      id="Instagram"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label"
                    >Linkedin Profile</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      formControlName="linkedin"
                      type="text"
                      class="form-control"
                      id="Linkedin"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Save Changes
                  </button>
                </div>
              </form>
              <!-- End Profile Edit Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-settings">
              <!-- Profile Settings Content -->
              <section class="section">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card-body">
                      <!-- Table with stripped rows -->
                      <table class="table datatable">
                        <thead>
                          <tr>
                            <th><b>Name</b></th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Start Date</th>
                            <th>Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let member of members">
                            <td>{{ member.fullName }}</td>
                            <td>{{ member.phone }}</td>
                            <td>{{ member.email }}</td>
                            <td>{{ member.startDate | date : "d MMMM y" }}</td>
                            <td>{{ member.role }}</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>
