/* Base styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-y: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(1, 41, 112, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  max-height: 90vh;
}

.card-body {
  padding: 20px;
  overflow-y: auto; /* Permet le défilement à l'intérieur de la carte */
  max-height: 70vh;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 15px;
}

.form-control:focus {
  border-color: #673ab7;
  box-shadow: 0 0 5px rgba(103, 58, 183, 0.5);
}

textarea.form-control {
  resize: vertical;
  min-height: 100px;
}

.btn {
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
}

.btn-primary {
  &:disabled {
    background-color: #cccccc !important;
    border-color: #bbbbbb !important;
    cursor: not-allowed;
    opacity: 0.7;
  }

  &:enabled {
    background-color: #e1d8f1;
    color: #673ab7;
    border: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: #d2b8e3;
    }
  }
}

/* Add New Club Button */
.btn-add-new-club {
  background-color: #e1d8f1;
  color: #673ab7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 20px auto;
  float: right;
}

.btn-add-new-club:hover {
  background-color: #d2b8e3;
}

/* Responsive Design */
@media (max-width: 100%) {
  .modal {
    padding: 10px;
  }

  .card {
    width: 100%;
    margin: 10px;
  }

  .card-body {
    padding: 15px;
  }

  .btn {
    width: 100%;
  }
}

@media (max-width: 100%) {
  .form-control {
    font-size: 12px;
  }

  .btn-primary {
    font-size: 14px;
  }

  .card-title {
    font-size: 16px;
  }
}
.alert-danger {
  font-size: 14px;
  padding: 8px 12px;

  i {
    color: #dc3545;
  }
}
.btn-danger {
  padding: 0.25rem 0.5rem;
  float: right;
  i {
    font-size: 0.875rem;
  }

  &:hover {
    background-color: #c82333;
  }
}
.col-md-4 {
  padding: 15px;

  img {
    width: 100%;
    height: 100%;
  }
}
.favorited {
  color: gold; /* Change la couleur de l'étoile lorsqu'elle est sélectionnée */
}
