<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img src="club.avif" alt="Profile" class="rounded-circle" />
          <h2>{{ user.name }}</h2>
          <h3>{{ user.role }}</h3>
          <div class="social-links mt-2">
            <a [href]="user.facebook" class="facebook"
              ><i class="bi bi-facebook"></i
            ></a>
            <a [href]="user.instagram" class="instagram"
              ><i class="bi bi-instagram"></i
            ></a>
            <a [href]="user.linkedin" class="linkedin"
              ><i class="bi bi-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Edit Profile
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Members
              </button>
            </li>
          </ul>

          <div class="tab-content pt-2">
            <!-- Onglet Overview -->
            <div class="tab-pane fade show active" id="profile-overview">
              <h5 class="card-title">About</h5>
              <p class="small fst-italic">{{ user.about }}</p>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Creation Date</div>
                <div class="col-lg-9 col-md-8">{{ user.creationDate }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone</div>
                <div class="col-lg-9 col-md-8">{{ user.phone }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{ user.email }}</div>
              </div>
            </div>

            <!-- Onglet Edit Profile -->
            <div class="tab-pane fade" id="profile-edit">
              <form (ngSubmit)="onSaveChanges()">
                <div class="row mb-3">
                  <div class="col-md-8 col-lg-9">
                    <label
                      for="profileImage"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Profile Image</label
                    >
                    <img
                      src="club.avif"
                      alt="Profile"
                      style="max-width: 120px"
                    />
                    <div class="pt-2">
                      <input
                        class="form-control"
                        type="file"
                        (change)="onFileChange($event)"
                      />
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Name</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="fullName"
                      [(ngModel)]="user.name"
                      type="text"
                      class="form-control"
                      id="fullName"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label"
                    >About</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <textarea
                      name="about"
                      [(ngModel)]="user.about"
                      class="form-control"
                      id="about"
                      style="height: 100px"
                    ></textarea>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Save Changes
                  </button>
                </div>
              </form>
            </div>

            <!-- Onglet Members -->
            <div class="tab-pane fade pt-3" id="profile-settings">
              <button class="btn-add-new-club" (click)="openModal()">
                Add Members
              </button>

              <!-- Modale pour ajouter des membres -->
              <div
                class="modal"
                *ngIf="isModalOpen"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: rgba(0, 0, 0, 0.5);
                "
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Select Members</h5>
                      <button
                        type="button"
                        class="btn-close"
                        (click)="closeModal()"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <ul class="list-group">
                        <li
                          *ngFor="let student of nonMembers"
                          class="list-group-item"
                        >
                          <input
                            type="checkbox"
                            [checked]="student.selected"
                            (change)="toggleSelection(student)"
                          />
                          {{ student.fullName }}
                        </li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="closeModal()"
                      >
                        Cancel
                      </button>
                      <button
                        type="button"
                        class="btn-add-new-club"
                        (click)="addSelectedStudents()"
                      >
                        Add Selected
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Liste des membres du club -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of addedStudents">
                    <td>{{ student.fullName }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.email }}</td>

                    <td>
                      <button
                        class="btn btn-danger btn-sm"
                        (click)="removeMember(student._id)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
