/* Style pour les icônes dans la barre latérale */
.sidebar-nav .nav-link i {
  color: white; /* Remplissage blanc */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Bordure fine noire */
}

/* Optionnel : Changer la couleur des icônes au survol */
.sidebar-nav .nav-link:hover i {
  color: #f0f0f0; /* Légèrement plus clair au survol */
} /* Style pour les icônes dans la barre latérale */
.sidebar-nav .nav-link i {
  color: white; /* Remplissage blanc */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* Bordure fine noire */
}

/* Optionnel : Changer la couleur des icônes au survol */
.sidebar-nav .nav-link:hover i {
  color: #f0f0f0; /* Légèrement plus clair au survol */
}
