<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container">
  <div>
    <button class="btn-add-new-club" (click)="openPopup()">
      Add New Classroom
    </button>
  </div>
  <br />
  <br />

  <br />

  <!-- Liste des salles -->
  <div class="mat-elevation-z8 data-table">
    <table mat-table [dataSource]="dataSource" class="full-width-table">
      <!-- Num Column -->
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef>Number</th>
        <td mat-cell *matCellDef="let classroom">{{ classroom.num }}</td>
      </ng-container>

      <!-- Capacity Column -->
      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef>Capacity</th>
        <td mat-cell *matCellDef="let classroom">{{ classroom.capacity }}</td>
      </ng-container>

      <!-- Available Column -->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef>Available</th>
        <td mat-cell *matCellDef="let classroom">
          <i *ngIf="classroom.available" class="fa fa-check text-success"></i>
          <i *ngIf="!classroom.available" class="fa fa-times text-danger"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="openEditPopup(row)"
        class="clickable-row"
      ></tr>
    </table>

    <mat-paginator
      #paginator
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <app-popup
    [title]="'Add New Classroom'"
    [show]="showPopup"
    (close)="closePopup()"
  >
    <app-add-classroom
      (classroomAdded)="addClassroom($event)"
    ></app-add-classroom>
  </app-popup>

  <app-popup
    [title]="'Edit Classroom'"
    [show]="showEditPopup"
    (close)="closeEditPopup()"
  >
    <app-edit-classroom
      *ngIf="selectedClassroom"
      [classroom]="selectedClassroom"
      (classroomUpdated)="updateClassroom($event)"
      (close)="closeEditPopup()"
    ></app-edit-classroom>
  </app-popup>
</div>
